@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@()(implicit config: play.api.Configuration, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile], requestHeader: RequestHeader)
@profile = @{pac4jScalaTemplateHelper.getCurrentProfile}

@main("Home") {
  <div class="container">
    <div class="mb-5">
      <h1>Welcome to @config.get[String]("app.name")</h1>
      <p>For any information about @config.get[String]("app.name"), please visit the <a href="https://gitlab.com/uit-sfb/forseti">project's repository</a>.</p>
        <h5>Contact</h5>
        <p>For any inquiry about this service, please contact <a href="mailto:mmp@@uit.no">MMP</a>.
      @if(profile.nonEmpty){
            <h3 class="mt-5">Currently logged:</h3>
            <ul>
              <li>Id: '@profile.get.getId()'</li>
              <li>Name: '@profile.get.getDisplayName'</li>
              <li>Username: '@profile.get.getUsername'</li>
              <li>Email: '@profile.get.getEmail'</li>
            </ul>
            <p>(via @profile.get.getClientName)</p>
      }
    </div>
  </div>
}
