@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@(originUrl: String, client: String)(implicit config: play.api.Configuration, request: MessagesRequestHeader, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])

@main("Link accounts") {
  <div class="container">
    <h4>This is the first time you use this Identity Provider.</h4>
    <p>Please login with your credentials if you have any. Otherwise, create an account.</p>
    <div class="container">
      <a class="btn btn-success btn-lg mr-5" href="@routes.AuthController.loginForm(Some(originUrl), Some(client))" role="button">I already have credentials</a>
      <a class="btn btn-info btn-lg" href="@routes.AuthController.register(originUrl, Some(client))" role="button">I do not have credentials</a>
    </div>
  </div>
}
