@import controllers.forms.LoginForm
@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@(form: Form[LoginForm.Data], originUrl: String, client: Option[String] = None)(implicit config: play.api.Configuration, request: MessagesRequestHeader, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])

@main("Login") {
  <div class="container">
    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
      <hr/>
    }

    @* Needed because some fields are handled manually *@
    @if(form.hasErrors) {
      <div>Please fix the following issues before re-submitting the form:</div>
      <ul>
      @form.errors.map { error: FormError =>
        <li>
          @if(error.key.nonEmpty) {
            @error.key: @error.message
          } else {
            @error.message
          }
        </li>
      }
      </ul>
      <hr/>
    }

    <div class="container">
      <div class="row">
        <div class="col-sm">
        @helper.form(action = Call("POST", client match {
          case Some(c) => routes.AuthController.loginSubmit(originUrl, c).url
          case None => s"$originUrl?client_name=LocalClient"
        })) {
          @helper.CSRF.formField
          <table>
            <tr>
              <td>@helper.inputText(form("username"), '_label -> "User name", 'class -> "form-control")</td>
            </tr>
            <tr>
              <td>@helper.inputPassword(form("password"), '_label -> "Password", 'class -> "form-control")</td>
            </tr>
            <tr>
              <td><button class="btn btn-primary btn-lg" type="submit">Submit</button></td>
            </tr>
          </table>
        }
        </div>
        <div class="col-sm">
          <table>
            <tr>
              <td><strong>I forgot my credentials</strong></td>
            </tr>
            <tr>
              <td><a class="btn btn-outline-danger btn-sm mt-3" href="@routes.AuthController.reinitPassword" role="button">Reinitialize</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
}
