@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@(message: String)(implicit config: play.api.Configuration, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile], requestHeader: RequestHeader)

@main("Home") {
  <div class="container">
    <div class="mb-5">
      <p>@message</p>
    </div>
  </div>
}
