@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@(originUrl: String)(implicit config: play.api.Configuration, request: MessagesRequestHeader, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])

@main("Login Portal") {
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            I already have credentials
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
          @if(config.getOptional[String]("app.auth.elixirAai.discovery").nonEmpty) {
            <a class="btn" href="@routes.AuthController.elixiraai(originUrl)" role="button">
              <img src="@routes.Assets.versioned("images/login-button-orange-medium.png")" style="max-width:40%;height:auto;" alt="">
            </a>
          }
            <a class="btn btn-success btn-lg" href="@routes.AuthController.login(originUrl)" role="button">Forseti</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            I do not have credentials
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            @if(config.getOptional[String]("app.auth.elixirAai.discovery").nonEmpty) {
            <a class="btn" href="https://www.elixir-europe.org/register/"  role="button">
              <img src="@routes.Assets.versioned("images/register-button-orange-medium.png")" style="max-width:40%;height:auto;" alt="">
            </a>
            }
            <a class="btn btn-success btn-lg" href="@routes.AuthController.register(originUrl, None)" role="button">Forseti</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}
