@import controllers.forms.NewUserForm
@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile
@(form: Form[NewUserForm.Data], originUrl: String, client: Option[String] = None)(implicit config: play.api.Configuration, request: MessagesRequestHeader, pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])

@main("Register") {
  <div class="container">
    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
      <hr/>
    }

    @* Needed because some fields are handled manually *@
    @if(form.hasErrors) {
      <div>Please fix the following issues before re-submitting the form:</div>
      <ul>
      @form.errors.map { error: FormError =>
        <li>
          @if(error.key.nonEmpty) {
            @error.key: @error.message
          } else {
            @error.message
          }
        </li>
      }
      </ul>
      <hr/>
    }

    <div class="container">
      <div class="row">
        <div class="col-sm">
        @helper.form(action = Call("POST", routes.AuthController.registerSubmit(originUrl, client).url
        )) {
          @helper.CSRF.formField
          <table>
            <tr>
              <td>@helper.inputText(form("User name"), 'class -> "form-control")</td>
            </tr>
            <tr>
              <td>@helper.inputPassword(form("Password"), 'class -> "form-control")</td>
            </tr>
            <tr>
              <td>@helper.inputPassword(form("Password (confirm)"), 'class -> "form-control")</td>
            </tr>
            <tr>
              <td>@helper.inputText(form("Email"), 'class -> "form-control")</td>
            </tr>
            <tr>
              <td><button class="btn btn-primary btn-lg" type="submit">Submit</button></td>
            </tr>
          </table>
        }
        </div>
      </div>
    </div>
  </div>
}
